.container {
  width: 100%;
  height: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  perspective: 300px;
  overflow-y: hidden;
}

.reflection {
  width: var(--editor-size);
  height: 100%;
  background: var(--reflection-bg);
  padding: 10px;
  color: var(--reflection-text-color);
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Cascadia Code';
  transform: var(--reflection-transform);
  transform-origin: top;
  overflow: hidden;
  transition: background 0.3s ease, color 0.3s ease;
}

.fragments {
  color: red;
}

::-webkit-scrollbar {
  display: none;
}
